
html, body{
    margin: 0; 
    height: 100%;
    min-height: 100%;
    scroll-behavior: smooth;
  }
 h{
    color: rgb(201, 42, 95);
    font-size: 30px;
    font-family: "Bebas Neue";
    text-decoration: none;
 }
  .box{
      width: 100%;
      height: 200px;
  }
  .tittle{
      float: right;
      font-family: "Bebas Neue";
      padding-top: 50px;
      padding-right: 50px;
      font-size: 50px;
  }
  .logo{
      text-align: center;
      font-family: "Bebas Neue";
      font-size: 70px;
      transition: .6s;
      
  }
  .logo:hover{
      color: rgb(93, 197, 52);
  }
  
  .nav{
      background-color: rgb(201, 42, 95);
      overflow: hidden ;
    
      width: 100%;
      transition: .3s;
  }
  
  .nav a{
      float: left;
      font-family: "Bebas Neue";
      font-size: 35px; 
      color: white;
      text-align: center;
      padding: 15px;
      text-decoration: none;
      transition: .3s;
      
  }
  .nav a:hover{
      background-color: antiquewhite;
      color: black;
      
  }
  
 
hr{
    margin: 0;
    
}
.menu{
    font-family: "Bebas Neue";
    font-size: 35px;
    width:200px;
    margin-left: 15px;
    margin-top: 20px;
}

.boxMeals{
    margin-left: 15px;
}
.Meal{
    float:left;
    text-align: center;
    width: 28%;
    height: 300px;
    border-radius: 25px;
    padding:15px;
    transition: .3s;
    background-color: rgb(201, 42, 95);
    margin-bottom: 15px;
   margin-left: 10px;
   margin-right: 10px;
    margin-top: 15px;
    
}
.Meal:hover{
    opacity: .6;
}
.boxMeals:after{
    content:"";
    display:table;
    clear:both;

}


.dropbtn {
    background-color: rgb(201, 42, 95);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    opacity:.6;
  }
  
  #myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  #myInput:focus {outline: 3px solid #ddd;}
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
ul.main{
    
    list-style-type:none;
    
    
}
li{
    margin-top: 15px;
    
}
h1{
    text-align: center;
    color: antiquewhite;
    padding-top: 10px;

}

.main{
    float: left;
    width: 20%;
    
    
}

.close{
    text-decoration: none;
    color: rgb(201, 42, 95);
    font-size: 30px;
    font-family: "Bebas Neue";
    text-decoration: none;
    padding-bottom: 15px;
}
.list{
    text-decoration: none;
    color: black;
}

hr{
    margin: 0;
}
.closer{
    
    width: 100%;
    height: 400px;
    
}
.contacts{
    width:200px;
    height:200px;
    background-color: rgb(247, 169, 54);
    border-radius: 25px;
}
.fa {
    padding: 20px;
    font-size: 40px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 20px;
  }
.fa-instagram{
    color: black;
    background-color: antiquewhite;
    border-radius: 25px;
}
.fa-linkedin{
    color: black;
    background-color: antiquewhite;
    border-radius: 25px;
}
@media screen and (max-width:1200px){
    
    .ab{
        width: 90%;
    }
   
   
}
@media  screen and (max-width:855px) {
    .Meal{
        margin-right: 0px;
        width: 95%;
    }
}
@media screen and (max-width: 600px){
    
    .nav {
        width: 150px;
    }
     
     .nav a, .nav input[type=text]{
         float: none;
         display:block;
         text-align: left;
         width: 100%;
         margin:0;
         padding:14px;
     }
     .nav input[type=text]{
         border:lpx solid #ccc;
     }
     
    
     .logo{
         
          font-size: 50px;
          
      }
      h2{
          text-align: center;
          font-size: 50px;
          width: 90%;
      }
 }
 